= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    = render 'shared/side'
    .col-8.main
      .content-area
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .user-content.clearfix
            .avatar-uplode
              - if current_user.avatar.attached?
                = image_tag url_for(current_user.avatar)
              - else 
                = image_tag "member_photo_noimage_thumb.png"
              = f.file_field :avatar, class: "avatar-uplode_form"
              .avatar-uplode_edit
                %p 編集
            .user-name
              = f.text_field :nickname
              .user-title
                = f.text_field :title, class: "user-title_input", autofocus: true, placeholder: "タイトル"
          .user-content
            %h3.h3-title できること
            = f.text_area :cando, class: "text_area", autofocus: true, placeholder: "あなたが提供できること"
          .user-content
            %h3.h3-title プロフィール
            = f.text_area :profile, class: "text_area", autofocus: true, placeholder: "プロフィールを書いて成約率をあげよう"

          .user-content
            %h3.h3-title 視聴者層
            %p 男性: 20代 30代 40代 50代
            %p 女性: 30代
          = f.submit "更新", class: "submit"
