.user
  .row
    .user_icon.col-2
      = image_tag "member_photo_noimage_thumb.png"
    .user_info.col-8
      .user_info_name
        = product.host.nickname
      .user_info_title
        = product.name
      .user_info_score
        = "評価 ★★★★"
      .user_info_score
        = "#{product.price}円"

    .user_btn.col-2
      = link_to "", class: "btn" do
        %i.far.fa-user
        %p フォローする

      = link_to "", class: "btn active" do
        %i.far.fa-comments
        %p 相談してみる