.user
  .row
    .user_icon.col-2
      - if host.avatar.attached?
        = image_tag url_for(host.avatar)
      - else 
        = image_tag "member_photo_noimage_thumb.png"
    .user_info.col-8
      .user_info_name
        = host.nickname
      .user_info_title
        = host.title
      .user_info_sns
        - if host.sns
          %ul.sns-ul
            - host.sns.each do |sns|
              %li.sns-ul_li
                = link_to "#{sns.url}", target: :_blank do
                  - if sns.kind == "Youtube"
                    %i.fab.fa-youtube.youtube
                  - if sns.kind == "instagram"
                    %i.fab.fa-instagram
                  - if sns.kind == "Twitter"
                    %i.fab.fa-twitter
                  - if sns.kind == "Facebook"
                    %i.fab.fa-facebook
                  - if sns.kind == "Tik Tok"
                    %p Tik Tok
                  - if sns.kind == "site"
                    %p ブログ・WEBサイト
                
      .user_info_score
        = "評価 ★★★★"
      .user_info_score
        - if host.products.count == 1
          = "#{host.products.minimum(:price)}円"
        - else 
          = "#{host.products.minimum(:price)}円 〜"
      = link_to "", user_path(host), class: "user_info_link"

    .user_btn.col-2
      = link_to "", class: "btn" do
        %i.far.fa-user
        %p フォローする

      = link_to "", class: "btn active" do
        %i.far.fa-comments
        %p 相談してみる