= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    = render 'shared/side'
    .col-8.main
      .content-area
        = form_with model: current_user do |f|
          .user-title
            = f.text_field :title, placeholder: "タイトル"
          .user-content
            %h3.h3-title できること
            = f.text_area :cando, placeholder: "あなたが提供できること"
          .user-content
            %h3.h3-title プロフィール
            = f.text_area :profile, placeholder: "プロフィールを書いて成約率をあげよう"

          .user-content
            %h3.h3-title 視聴者層
            %p 男性: 20代 30代 40代 50代
            %p 女性: 30代
          = f.file_field :avatar
          = f.label :nickname, "ニックネーム"
          = f.text_field :nickname
          = f.submit "更新"