= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    = render 'shared/mypage-side'
    .col-8.main
      .content-area
        .user-title
          = link_to "編集", edit_user_registration_path, class: "edit-btn"
          %h2 
            - unless current_user.title.nil?
              = current_user.title
            - else
              %p こちらにタイトルが表示されます。
        .user-content
          %h3.h3-title できること
          %p 
            - if current_user.cando?
              = current_user.cando
            - else
              %p あなたが提供できることについて、説明してください。
        .user-content
          %h3.h3-title プロフィール
          %p
            - if current_user.profile?
              = current_user.profile
            - else
              %p プロフィールを設定してください。

        .user-content
          %h3.h3-title SNS
          = link_to "Youtube", ""
          %p 登録者数: 1000人
          %p 男性: 20代 30代 40代 50代
          %p 女性: 30代
          
          = link_to "SNSを追加", "", class: "btn-new"
          
        .user-content
          %h3.h3-title 視聴者層
          %p 男性: 20代 30代 40代 50代
          %p 女性: 30代

      %h2.main-h2 プラン
      = render partial: 'products/product', collection: current_user.products, as: "product"