= render 'shared/main-header'
.container-fluid
  .row.py-5.w-100
    = render 'shared/mypage-side'
    .col-8.main
      .content-area
        .user-title
          = link_to "編集", edit_user_registration_path, class: "edit-btn"
          %h2 
            - unless current_user.title.nil?
              = current_user.title
            - else
              %p こちらにタイトルが表示されます。
        .user-content
          %h3.h3-title できること
          %p 
            - if current_user.cando?
              = current_user.cando
            - else
              %p あなたが提供できることについて、説明してください。
        .user-content
          %h3.h3-title プロフィール
          %p
            - if current_user.profile?
              = current_user.profile
            - else
              %p プロフィールを設定してください。

        .user-content
          %h3.h3-title SNS
          %ul.sns-ul
            - current_user.sns.each do |sns|
              %li.sns-ul_li
                = link_to "#{sns.url}", target: :_blank do
                  - if sns.kind == "Youtube"
                    %i.fab.fa-youtube.youtube
                  - if sns.kind == "instagram"
                    %i.fab.fa-instagram.instagram
                  - if sns.kind == "Twitter"
                    %i.fab.fa-twitter.twitter
                  - if sns.kind == "Facebook"
                    %i.fab.fa-facebook.facebook
                  - if sns.kind == "Tik Tok"
                    %p Tik Tok
                  - if sns.kind == "ブログ・WEBサイト"
                    %p ブログ・WEBサイト
                  - unless sns.kind.in?(["Tik Tok","ブログ・WEBサイト"])
                    = sns.kind
                = link_to "削除", sn_path(sns.id), method: :delete, class:"btn"
          = form_with model: @sn do |f|
            = f.select :kind, [["SNSを選択", ""], ["Youtube"],["instagram"], ["Twitter"], ["Facebook"], ["Tik Tok"], ["ブログ・WEBサイト"]]
            = f.text_field :url, placeholder: "URLを入力"
            = f.submit "登録完了", class: "btn"
          
        .user-content
          %h3.h3-title 視聴者層
          %p 男性: 20代 30代 40代 50代
          %p 女性: 30代

      %h2.main-h2 プラン
      = render partial: 'products/product', collection: current_user.products, as: "product"