= render 'shared/main-header'
.container-fluid
  .row.side
    = render 'shared/side'
  .row.main
    .col-8
      %h2.main-h2 コラボ相手を探す
      - if params[:q]['name_cont'] == ""
        = "検索キーワードがありません。"
        %h2.main-h2.new 新着一覧
        .jscroll
          = render partial: 'user', collection: @users, as: "host", class: "jscroll"
          .skill-list
            = link_to_prev_page @users, '前のページ', class: "prev"
            = link_to_next_page @users, '次のページ', class: "next"
      - elsif @search_users.present?
        = "「#{params[:q][:nickname_or_title_or_profile_or_cando_cont]}」の検索結果: #{@search_users.count}人のクリエイターがみつかりました。コラボを依頼しよう！"
        .jscroll
          = render partial: 'user', collection: @search_user, as: "host", class: "jscroll"
          .skill-list
            = link_to_prev_page @search_users, '前のページ', class: "prev"
            = link_to_next_page @search_users, '次のページ', class: "next"
      - else
        = "「#{params[:q][:nickname_or_title_or_profile_or_cando_cont]}」の検索結果: #{@search_users.count}人。クリエイターがみつからない時は募集してみよう！"
        %h2.main-h2.new 新着一覧
        .jscroll
          = render partial: 'user', collection: @users, as: "host", class: "jscroll"
          .skill-list
            = link_to_prev_page @users, '前のページ', class: "prev"
            = link_to_next_page @users, '次のページ', class: "next"
