= render 'shared/main-header'
.container-fluid
  .row.side
    = render 'shared/side'
  .row.main
    .content-area
      .user-title
        %h2 
          - if @user.title?
            = @user.title
          - else
            %p タイトルは未設定です
      - if @user.cando?
        .user-content
          %h3.h3-title できること
          %p 
            = @user.cando
      - if @user.profile?
        .user-content
          %h3.h3-title プロフィール
          %p
            = @user.profile

    %h2.main-h2 プラン
    = render partial: 'products/product', collection: @user.products, as: "product"
