.header.clearfix.px-5.mx-3
  %ul.float-right
    - if user_signed_in?
      %li 
        = link_to "マイページ", user_path(current_user.id), class:"btn login"
      %li 
        = link_to "ログアウト", destroy_user_session_path, class:"btn login"
      
    - else
      %li 
        = link_to "ログイン", new_user_session_path, class:"btn login"
      %li
        = link_to "新規登録", registration_users_path, class:"btn registration"
  .search_wap
    = search_form_for @search do |f|
      = f.text_field :name_cont , placeholder: "何かお探しですか？", class: 'input'
      = button_tag type: 'submit', class: 'search__button' do
        .icon_wap
          %i.fas.fa-search
  = link_to "WEBSHARE", root_path, class:"logo"