.header.clearfix
  %ul.float-right
    - if user_signed_in?
      %li 
        = link_to mypage_users_path(current_user.id) do
          - if current_user.avatar.attached?
            = image_tag url_for(current_user.avatar), class: "avatar"
          - else
            = image_tag "member_photo_noimage_thumb.png", class: "avatar"
      
    - else
      %li 
        = link_to "ログイン/新規登録", new_user_session_path, class:"btn login"
  .search_wap
    = search_form_for @search, url: search_users_path do |f|
      = f.text_field :nickname_or_title_or_profile_or_cando_cont , placeholder: "何かお探しですか？", class: 'input'
      = button_tag type: 'submit', class: 'search__button' do
        .icon_wap
          %i.fas.fa-search
  = link_to root_path, class:"logo" do
    = "WEBSHARE"
.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)