%ul.list-group
  %li{class: "list-group-item #{active_class(user_path)}"}
    = link_to "", user_path, class: "nav-list__link"
    %p マイページ
  %li{class: "list-group-item #{active_class(new_product_path)}"}
    = link_to "", new_product_path, class: "nav-list__link"
    %p コンテンツ
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p やることリスト
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p いいね！一覧
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p 取引依頼
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p 取引中
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p 過去の取引
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p 評価一覧
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p 売上・振込申請
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p ニュース一覧
  %li.list-group-item
    = link_to "", class: "nav-list__link"
    %p お問い合わせ