= render 'shared/main-header'
.container-fluid
  .row.side
    = render 'shared/mypage-side'
  .row.main
    .mypage-main
      %h2.header_title
        支払い方法
      .single-container
        .rgs-main__section
          = render "shared/creditcard-form"
        .payment-explain
          = fa_icon 'chevron-right', class:"arrows"
          = link_to '支払い方法について', '#'