.product
  %h3.product-title
    = product.name
  .product-price
    = "料金: #{product.price}円"
  .product-description
    = simple_format(product.description)
  - if controller.action_name.in?(['mypage'])
    = link_to "編集する", edit_product_path(product.id), class:"product-btn active"
  - else
    = link_to "契約する", product_path(product.id), class:"product-btn active"