.product
  %h3.product-title
    = product.name
  - if product.images.present?
    #carouselExampleIndicators.carousel.slide{"data-ride": "carousel"}
      .carousel-inner
        .carousel-item.active
          = image_tag product.images[0].name.to_s, alt: "#{product.images[0]}", class: "d-block w-100"
        - product.images.each do |image|
          .carousel-item
            %img.d-block.w-100{alt: "Second slide", src: "https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg"}
          .carousel-item
            %img.d-block.w-100{alt: "Third slide", src: "https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg"}
          .carousel-item
            %img.d-block.w-100{alt: "Third slide", src: "https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg"}
          .carousel-item
            %img.d-block.w-100{alt: "Third slide", src: "https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg"}
          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.sr-only Next
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "5", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
        %li{"data-slide-to" => "6", "data-target" => "#carouselExampleIndicators", :style => "background-image: url(https://images-na.ssl-images-amazon.com/images/I/61v97E88-EL._AC_SX679_.jpg);"}
      

  .product-price
    = "料金: #{product.price}円"
  .product-description
    = simple_format(product.description)
  - if controller.action_name.in?(['mypage'])
    = link_to "編集する", edit_product_path(product.id), class:"product-btn active"
  - else
    = link_to "契約する", product_path(product.id), class:"product-btn active"