= render 'shared/main-header'
.container-fluid
  .new-product
    .col-8.main
      .head
        %h2 プラン情報を入力
      = form_with model: @product, class:"form" do |f|
        .form-container
          .form-container__name
            %label タイトル
            %span 必須
            .input-space
              = f.text_field :name, class: "input-name", placeholder: "商品名（必須 40文字まで）"
          .form-container__description
            %label 説明
            %span 必須
            = f.text_area :description, class: "input-description", rows: "5", cols: 40, placeholder: "プランの説明を記載（必須1000文字以内）"
          .form-shipping__form-box__day
            %label.label コラボまでの日数
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              = f.select :period, [["---", ""], ["１週間以内","7"], ["２週間以内","14"], ["１ヶ月以内","31"], ["３ヶ月以内","93"]], {}, class: "select-default"
        .form-price
          %h3 販売価格(300〜9,999,999)
          .form-price__form-box
            .form-price__form-box__price
              %label.left 価格
              .require
                %span 必須
              .price-input
                .price-input__logo ¥
                = f.text_field :price, class: "input-price", id: "price", placeholder: "例）300", autocomplete: "off"
            .form-price__form-box__charge
              .form-price__form-box__charge__left 販売手数料 (10%)
              .form-price__form-box__charge__right -
            .form-price__form-box__profit
              .form-price__form-box__profit__left 販売利益
              .form-price__form-box__profit__right -
        .form-submit
          = f.submit "出品する", class: "btn-default"
          = link_to "もどる", :back, class: "btn-default btn-gray"